resources/odd/koenigsfelden-register.odd

<?teipublisher output="web"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Königsfelden - registers</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="koenigsfelden.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2024-02-06Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="koenigsfelden-register" source="teipublisher.odd"> <elementSpec ident="person" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="persName"/>
                <param name="level" value="2"/>
            </model>
            <model predicate="descendant::death" behaviour="heading">
                <param name="content" value="string-join((birth, death), '–')"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="pass-through">
                <param name="ref" value="@xml:id"/>
                <pb:template xmlns="" xml:space="preserve"><h4>Links zu externen Ressourcen</h4>
<ul>
  <li><a href="https://www.ssrq-sds-fds.ch/persons-db-edit/?query=[[ref]]" target="_blank">ssrq</a></li>
</ul></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="org" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="orgName"/>
                <param name="level" value="2"/>
            </model>
            <model predicate="desc" behaviour="paragraph">
                <param name="content" value="'Typ: ' || desc[@xml:lang eq 'de']"/>
            </model>
            <model behaviour="pass-through">
                <param name="ref" value="@xml:id"/>
                <pb:template xmlns="" xml:space="preserve"><h4>Links zu externen Ressourcen</h4>
<ul>
  <li><a href="https://www.ssrq-sds-fds.ch/persons-db-edit/?query=[[ref]]" target="_blank">ssrq</a></li>
</ul></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="bibl" mode="change"/>
                <elementSpec ident="place" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="level" value="2"/>
                <param name="content" value="placeName"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="location"/>
            </model>
            <model behaviour="pass-through">
                <param name="ref" value="@xml:id"/>
                <param name="content" value="bibl"/>
                <pb:template xmlns="" xml:space="preserve"><h4>Links zu externen Ressourcen</h4>
<ul>
  <li><a href="https://www.ssrq-sds-fds.ch/places-db-edit/views/view-place.xq?id=[[ref]]" target="_blank">ssrq</a></li>
  [[content]]
</ul></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="idno" mode="add">
                    <model predicate="@type eq 'GeoNames'" behaviour="listItem">
            <param name="content" value="@type || ' ' || ."/>
            <param name="uri" value="'http://www.geonames.org/' || ."/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model predicate="@type eq 'TGN'" behaviour="listItem">
            <param name="ref" value="@xml:id"/>
            <param name="content" value="@type || ' ' || ."/>
            <pb:template xmlns="" xml:space="preserve"><a href="http://www.getty.edu/vow/TGNFullDisplay?find=[[ref]]&amp;place=&amp;nation=&amp;english=Y&amp;subjectid=[[ref]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model predicate="@type eq 'GND'" behaviour="listItem">
            <param name="content" value="@type || ' ' || ."/>
            <param name="uri" value="'http://d-nb.info/gnd/' || ."/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model predicate="@type eq 'ortsnamen.ch'" behaviour="listItem">
            <param name="uri" value="'http://search.ortsnamen.ch/record/' || ."/>
            <param name="content" value="@type || ' ' || ."/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model predicate="@type eq 'HLS'" behaviour="listItem">
            <param name="uri" value="'http://www.hls-dhs-dss.ch/textes/d/D' || . || '.php'"/>
            <param name="content" value="@type || ' ' || ."/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[uri]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model predicate="@type eq 'URL'" behaviour="listItem">
            <pb:template xmlns="" xml:space="preserve"><a href="[[content]]" target="_blank">[[content]]</a></pb:template>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="location" mode="add">
                    <modelSequence>
            <model predicate="country and not(region)" behaviour="inline">
                <param name="content" value="country"/>
                <pb:template xmlns="" xml:space="preserve">Standort: [[content]]</pb:template>
            </model>
            <model predicate="region" behaviour="paragraph">
                <param name="content" value="string-join(region, ', ')"/>
                <pb:template xmlns="" xml:space="preserve">Standort: [[content]]</pb:template>
            </model>
            <model predicate="geo" behaviour="pass-through">
                <param name="lat" value="tokenize(geo, '\s+')[1]"/>
                <param name="long" value="tokenize(geo, '\s+')[2]"/>
                <param name="label" value="ancestor::place/placeName/string()"/>
                <pb:template xmlns="" xml:space="preserve"><pb-geolocation latitude="[[lat]]" longitude="[[long]]" label="[[label]]" event="click">Siehe Karte</pb-geolocation></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="category" mode="add">
        <modelSequence>
            <model behaviour="heading">
                <param name="content" value="catDesc"/>
                <param name="level" value="2"/>
            </model>
        </modelSequence>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>